$button-height: 32px;
$border-radius: 4px;
$border-color: #999;
$button-bg: #ddd;
$button-active-border: pink;

*{
  margin: 0;padding: 0;box-sizing: border-box;font-size: 14px;font-family: Microsoft Yahei;
}
ul, li, ol {
  list-style: none;
}
